<div class="container-fluid signup-container">
	<div class="d-flex justify-content-center h-100">
		<div class="card mt-5">
			<div class="card-header">
				<h3>SignUp</h3>
			</div>
			<div class="card-body">
				<form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" [class.loading]="loading"> 
					<!--(1)  [formGroup]="form" (ngSubmit)="onSubmit(form.value)" : form == form in signup.component.ts-->
                    <div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><fa-icon [icon]="faUser"></fa-icon></span>
						</div>
						<input type="text" class="form-control" placeholder="First name" formControlName="firstname">
						<!-- (2)  formControlName="firstname" defined as in signup.component.ts-->
                        <input type="text" class="form-control" placeholder="Last Name" formControlName="lastname">
                    </div>
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><fa-icon [icon]="faEnv"></fa-icon></span>
						</div>
						<input type="email" class="form-control" placeholder="email" formControlName="email">
						
					</div>
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><fa-icon [icon]="faKey"></fa-icon></span>
						</div>
						<input type="password" class="form-control" placeholder="password" formControlName="password">
					</div>
					<div class="form-group">
						<input type="submit" value="SignUp" class="btn float-right signup_btn">
					</div>
				</form>
			</div>
		</div>
	</div>
</div>