<div class="container">
	<div class="d-flex justify-content-center h-100">
		<div class="card mt-5">
			<div class="card-header">
				<h3>Sign In</h3>
			</div>
			<div class="card-body">
				<form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm.value)">
					<!-- (1) #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm.value) -->
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><fa-icon [icon]="faUser"></fa-icon></span>
						</div>
						<input type="text" name="username" class="form-control" placeholder="username" ngModel>
						<!-- (2) ngModel on each field of entry -->
					</div>
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><fa-icon [icon]="faKey"></fa-icon></span>
						</div>
						<input type="password" name="password" class="form-control" placeholder="password" ngModel>
					</div>
					<div class="row align-items-center remember">
						<input type="checkbox" name="remember_me" [(ngModel)]="remember_me">Remember Me
						<!-- (3) [(ngModel)]="remember_me" : if needs to assign default value -->
					</div>
					<div class="form-group">
						<input type="submit" value="Login" class="btn float-right login_btn">
					</div>
				</form>
			</div>
			<div class="card-footer">
				<div class="d-flex justify-content-center links">
					Don't have an account?<a href="signup">Sign Up</a>
				</div>
				<div class="d-flex justify-content-center">
					<a href="#">Forgot your password?</a>
				</div>
			</div>
		</div>
	</div>
</div>